* {
  box-sizing: border-box;
 
}
html {
  overflow-y: scroll;
}
html, body {

}
body {
  display: -ms-grid;
  display: grid;
  -ms-grid-areas:
  'logo login login login login login login'
  'nav section section section section section section'
  'footer  footer footer footer footer footer footer';
  grid-template-areas:
    'logo login login login login login login'
    'nav section section section section section section'
    'footer  footer footer footer footer footer footer';
  grid-gap: 0px;

}
 
body.full {
  display: grid;
  grid-template-areas:
    'logo login login login login login'
    'section section section section section section'
    'footer  footer footer footer footer footer';
  grid-gap: 0px;
}

#logo {
  grid-area: logo;
  background: #000;
  text-align: left;
  color: rgb(240, 240, 240);
  padding: 0 25px;
  line-height: 80px;
  background-image: url('../images/hand.svg');
  padding-left: calc(5% + 45px);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 5% center;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  max-width: 240px;
  min-width: 240px;
}

#login {
  grid-area: login;
  background: #404040;
  padding: 0 25px;
  line-height: 80px;
  color: #e7e7e7;
  text-align: right;
  min-width: calc( 100vw - 19px - 240px );
}

footer {
  grid-area: footer;
  background: #404040;
  height: 100px;
  color: rgb(240, 240, 240);
  padding: 25px;
}

section {
  grid-area: section;
  padding: 25px;
  min-height: calc(100vh - 80px - 100px);
  position: relative;
}

#sidebar.active {
  display: none;
}

#sidebar {
  grid-area: nav;
  background: #17a2b8;
  display: block;
  max-width: 240px;
  min-width: 240px;
}

.far span,
.fas span,
.fa span,
.fab span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: normal;
}

a.far:hover,
a.fas:hover,
a.fa:hover {
  text-decoration: none;
  font-weight: bold;
}

.fa-user-circle {
  font-weight: 300;
}

.fa-plus-circle {
  font-size: 13px;
  float: right;
}

.fa-plus-circle span {
  padding-left: 0.3em;
}

a {
  color: #17a2b8;
}

a:hover {
  color: #106f7e;
}

header a {
  color: #fff
}

header a:hover {
  color: #c0c0c0
}

h1,
h1 {
  font-size: 1.5rem;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebarCollapse {
  float: left;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: #fff;
  background: #138496;
  display: block;
  
}

nav a span {
  display: bllock-inline;
}

nav ul.components {
  padding: 0;
  overflow: hidden;
}

nav ul li {
  display: block;
  position: relative;
}

nav ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  clear: left;
  width: 100%;
  position: relative;
}

.lang1 {  
  position: absolute;
  right: 0;
  width: 2em;
  display: block;
  z-index: 1000;
  top: 0;
}

/*
nav ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #106f7e;
}
*/
li.active a {
  background: #106f7e;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #138496;
}

nav ul li a:hover {
  color: #daf6fa;
  background: #106f7e !important;
}

nav li a:before {
  margin-right: 10px;
}

h1 {
  color: #1cc7e2;
  color: #fff;
  margin-top: -78px;
  margin-bottom: 55px;
  width: 70%;
}
.full h1 {
   margin-left: 25%;
}




/*
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}*/


 .fa-plus-circle {
  font-size: 20px;
}
.around {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
}
table td.center, table th.center {
  text-align: center;
}
table td.right, table th.right {
  text-align: right;
}

table td.short, table th.short {
  width: 60px;
}
table td.middle, table th.middle {
  width: 200px;
}
 
#pages .fa-unlock { color: #c0c0c0 }
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.06);
}
#logo a{
  color: #fff;
}

.input-group-prepend, .input-group-text {
   min-width: 200px; 
   z-index: 2;
}

#pagesnew .input-group-prepend,  #pagesnew .input-group-text {
   min-width: 160px;
}


.row fieldset {
  margin-bottom: 1em;
  min-height: 50px;
 
}
.row fieldset:nth-of-type(even) {
  padding-left: 2em!important;
  flex-grow: 1!important;
}
.row fieldset:nth-of-type(odd) {
  padding-right: 2em!important;
  flex-grow: 1!important;
}

.row .contentItem fieldset:nth-of-type(odd), 
.row .contentItem fieldset:nth-of-type(even), 
.row .myItem fieldset:nth-of-type(odd), 
.row .myItem fieldset:nth-of-type(even)
{
  padding-right: 10px!important;
  padding-left: 10px!important;
}


#home .row fieldset.col:nth-of-type(even) {
  flex-grow: 1!important;
}
#home fieldset.col:nth-of-type(odd) {
  flex-grow: 2!important;
}

.tab-pane {
  padding-top: 3em;
}
.sender {
  clear: both;
  padding-top: 2em;
  width: 100%;
  padding-left: 0;
}
.itembox{
  width: 80px;
  height: 100px;
  font-size: 40px;
  background: #e9ecef;
  text-align: center;
  position: relative;
  padding: 62px 10px 10px 10px!important;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: .375rem .75rem;
 
  color: #495057;
  float: left;
  margin-right: 7px;
  margin-bottom: 7px;
}
.itembox:hover{
  cursor: pointer;
  background: #ebedf0;
  border: 1px solid #ced4da;
}
.itembox:before{
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.itembox span{
  font-size: 13px;
  color: #404040;
  line-height: 12px!important;
  font-style: normal;
  display: block;
}

#noTextIco{
  display: none;
  clear: left;
  }

 .special strong {
   display: block;
   float: left;
   min-width: 170px;
   margin-right: 5px;
   line-height: 22px;
 } 
 .contentItem fieldset, .myItem fieldset {
  background: #f6f8fa;
  padding:  10px!important;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin-bottom: 2em;
 }
 .contentItem {
   clear: both;
   position: relative;
 }
 #myContents {
   position: fixed;
 }

#myTabContent {
  position:relative;
}

 .supercol {
   position: sticky;
 
   height: auto;
   right: 10px;
   top: 10px;
 
 }
 .mainclr {
   clear: both;
 }
 fieldset.col{
  
   position: relative;
 }
 .plus{

   cursor: pointer;
 }
 .newjob {
  clear: both;
  width: 100%;
  padding: 5px 0 10px 0;
 }
 .newjob .plus {
   float: none;
 }
 .hereActive , .hereActive:hover {
   background: #007bff!important;
   color: #fff!important;
   padding:   6px 16px 6px 6px!important;
   border-radius: 15px!important;
 }
 .service {
  width: 100px;
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 25px;
  text-align: right;
}
.noneorder{
  font-size: 25px;
  text-align: right;
}
.service a {
  cursor: pointer;
}
 
.contentItem fieldset  h5  , .myItem fieldset  h5  {
color: #495057;
text-align: center;
white-space: nowrap;
background-color: #e9ecef;
border-bottom: 1px solid #ced4da;
width: calc( 100% + 20px ) ;
text-align: left;
padding: 10px;
margin: -10px -10px 10px -10px;
} 
.contentItem fieldset  h5 span, .myItem fieldset  h5 span {
  margin-left: 10px;
}
.nic {
  display: inline-block;
  width: 22px;
  height: 16px;
}
 fieldset {
  position: relative;
 }
 .service2 {
   position: absolute;
   top: 8px;
   right: 110px;
 }
 .custom-file-label::after {
  content: "Vyber"!important;
}
input[type="file"].non-empty + label        { color: green; }
.input-group mb-3 {
  min-width: 100%;
}
.form-control input, .form-control select {
  width: 100%;
  border: none;
}

.form-control.two-inputs input {
  width: 48%;
}
.form-control.two-inputs input:first-of-type {
  border-right: 1px solid #ced4da;
}
.form-control.two-inputs select{
  width: 48%;
}
.form-control.two-inputs select:first-of-type {
  border-right: 1px solid #ced4da;
}

.form-control.three-inputs input {
  width: 33%;
}
.form-control.three-inputs select{
  width: 32%;
}
.galphoto {
  float: left;
  padding: 10px;
 
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
 
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin: 0 5px 5px 0;
} 

#toApp{
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #e7e7e7;

}
a.aintable {
  display: block;
  padding: .45rem;
  height: 100%;
  text-decoration: none!important;
  color: #404040
  
}
a.aintable:hover {
  font-weight: bold;
  text-decoration: none!important;
  color: #000

}
td.tableina {
  padding: 0;
}
.table td, .table th {
  padding: .55rem;
  vertical-align: middle;
}
.input-group-append .input-group-text {
  min-width: auto;
}
.page-link:hover {
  z-index: 2;
  color: #0056b3!important;
  text-decoration: none;
  background-color: #e9ecef!important;
  border-color: #dee2e6!important;
}
.custom-file-label {
 
  left: 120px;
 
}
#cols3{
  position: fixed;
  top: 70px;
  right: 25px;
  z-index: 1000;
}
#goWrd{
  position: fixed;
  top: 70px;
  right: 105px;
  z-index: 1000;
}
#honeypot {
  float: right;
  margin: 20px 20px 0 0;
  padding-left: 40px;
  background: url(../images/hpGreen.png) no-repeat left top;
  background-size: contain;
  display: block;
  line-height: 35px;
  position: relative;
  padding-top: 4px;
  transform: scale(0.7);
}
#honeypot:hover {
  color: #17a2b8;
}
#honeypot span{
  font-size: 60%;
  position: absolute;
  top: -9px;
}
#tableOUT_filter input{
  border: 1px solid #c0c0c0;
}
table.dataTable thead .sorting {
  background-image: url('../images/sort_both.png')!important;
}
table.dataTable thead .sorting_asc {
  background-image: url('../images/sort_asc.png')!important;
}
table.dataTable thead .sorting_desc {
  background-image: url('../images/sort_desc.png')!important;
}
.dataTables_info {
  display: none;
}

table.dataTable thead {
  background: #8d8d8d!important;
  color: #fff!important;
}
#tableOUT th,td{
  font-size: 14px!important;
}

#tableOUT  input, #tableOUT   select {
  font-size: 12px!important;
}

#btnExport {
  background: #217346;
  color: #fff;
  padding: 10px 20px;
  margin-top: 25px;
  margin-left: 0px;
  border: 0;
  cursor:pointer;
  float: right;
}
  #btnExport:hover { 
     background: #278952
  }
 

  #btnExport {
    background: #217346;
    color: #fff;
    padding: 10px 20px;
    margin-top: 25px;
    margin-left: 0px;
    border: 0;
    cursor:pointer;
    float: right;
  }
    #btnExport:hover { 
       background: #278952
    }
    #btnExportW {
    background: #2b579a;
    color: #fff;
    padding: 10px 20px;
    margin-top: 25px;
    margin-left: 0px;
    border: 0;
    cursor:pointer;
    float: right;
    margin-left: 2px;
  }
    #btnExportW:hover { 
       background: #4076ca
    }
    #btnExportPDF {
    background: #a10707;
    color: #fff;
    padding: 10px 20px;
    margin-top: 25px;
    margin-left: 0px;
    border: 0;
    cursor:pointer;
    float: right;
    margin-left: 2px;
  }
    #btnExportPDF:hover { 
       background: #f31111
    }
  
  
  
   i em, a em {
     display: none;
   }
   thead th {
     background: #8d8d8d;
     color: #fff
   }
   .fa-check-circle, .fa-times-circle  {
    color: red;
}
 .closed {
    color: green
}
.gray {
  color: #c0c0c0;
}
.hodnoceni { margin-right: 2px; }
td.center{
  text-align: center!important;
}
th a{
  color: #000000!important
}
#tableOUT .auto {
  background: rgba(233,184,52,0.1);
}
a.hlep {
  color: white;
    background: #17a2b8;
    width: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
}

td.automatic span {
  background: #8fb5f3;
  width: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 15px;
  color: #fff;
  
}

a.hlep:hover{
  background: hsl(188, 76%, 29%);
  text-decoration: none;
  color: #fff;
}
 
.anotherpoints{
  text-align: right;
}
td.megatotal {
  font-size: 110%;
  font-weight: 700
}
td.megatotal i.visio {
  font-style: normal;
}

/* data teble hack */
table.dataTable thead th, table.dataTable thead td {
  padding:   .55rem  !important;  
  border-bottom: 0px solid #111!important;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
  background-position: 95% 8px!important;
}
table.categorycwe td:nth-of-type(3)   {
  /*strategie */
  background: #d4e2ee !important;
  border-bottom-color: #99afc2 !important;
  min-width: 100px;
  text-align: right;
  position: relative;
}
table.categorycweREP td:nth-of-type(2),  table.categorycweREP2 td:nth-of-type(3){
    /*uplnost */
    background: #f4f5e3 !important;
    border-bottom-color: #9fa08c !important;

    min-width: 100px;
    text-align: right;
    position: relative;
}
table.categorycwe td:nth-of-type(7) {
   /*komunita */
  background: #fdf5ed !important;
  border-bottom-color: #c4a98f !important;
  min-width: 100px;
  text-align: right;
}
table.categorycwe td:nth-of-type(6) {
   /*zivo */
   background: #ecfae4!important;
  border-bottom-color: #badba6 !important;
  min-width: 100px;
  text-align: right;
}
table.categorycwe td:nth-of-type(4)  {
   /*HR */
  background: #fde9fd !important;
  border-bottom-color: #bd8bbd !important;
  min-width: 100px;
  text-align: right;
}
table.categorycweREP td:nth-of-type(3), table.categorycweREP2 td:nth-of-type(4) {
  /* verohodnost */
  background: #cdcdd1 !important;
  border-bottom-color: #868688 !important;
  min-width: 100px;
  text-align: right;
}
table.categorycwe td:nth-of-type(5)  {
  /* Klienti */
 background:#ECF0F3 !important;
 border-bottom-color: #adc0ce !important;
 min-width: 100px;
 text-align: right;
}

table.categorycweREP td:nth-of-type(4), table.categorycweREP2 td:nth-of-type(5)  {
  /* komunikace */

  background:#dbe0db !important;
  border-bottom-color: #c0c2c0 !important;
  min-width: 100px;
  text-align: right;
}



table.categorycwe td:nth-of-type(8) {
  /* Klienti */
 
 min-width: 100px;
 text-align: right;
}

table.categorycwe2 td:nth-of-type(2),table.categorycwe2 td:nth-of-type(3) {
  min-width: 300px;
}

table.categorycwe2 td:nth-of-type(4) {
  background: #d4e2ee !important;
  border-bottom-color: #99afc2 !important;
  min-width: 100px;
  text-align: right;
  position: relative;
}

.hodcount {
  position: absolute;
  left: -30px;
  background: #c0c0c0;
  color: #fff;
  text-align: center;
  line-height: 2em;
  width: 2em;
  border-radius: 1em;
  font-size: 80%;
}


/*button top */

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  /*text-indent: 100%;*/
  white-space: nowrap;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  visibility: hidden;
  opacity: 0;
  border: 1px solid transparent;
    text-align: center;
    line-height: 40px;
    border-radius: .25rem;
 
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  cursor: pointer;
  
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
  color: #fff!important;

  border-color: #117a8b;
  opacity: 1;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  color: #fff!important;
  background-color: #138496;
  border-color: #117a8b;
  opacity: 1;
}
.cd-top:hover {
  color: #fff!important;
  background-color: #138496;
  border-color: #117a8b;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 40px;
    width: 40px;
    left: 190px;
    bottom: 36px;
  }
}



.cd-top.cd-is-visible {
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  opacity: .5;
}

/*button top end */
#loading {
  position: fixed;
  z-index: 50;
  top: 0; left: 0;
  width: 100%; height: 100%;
background:transparent;
  line-height: 350px;
  text-align: center;
  font-size: 36px;
  color: #353231;
  text-indent: -9999px;
}
.v2 #loading { display: none; }

#progress-bar {
  position: absolute;
  top: 0; left: 0;
  background: #17a2b8;
  opacity: 0.8;
  width: 0;
  height: 18px;
}
#loader {
background: url(http://dl.dropbox.com/u/13256471/fuzionpro/fuzionpro.png) no-repeat center 25%;
height: 100%;
display: block;
}


table.dataTable tbody td.itsame,  table.categorycwe tbody td.itsame  {
  font-weight: bold!important;
  background: #c0c0c0!important;
  color: #000!important;
}

span.evsmall, span.evbig, span.evnone {
  font-size: 9px;
  color: #404040;
  background: #dadada;
  border-radius: 2px;
  border: 1px solid #404040;
  padding: 1px 3px;
}

span.evbig {
  background: #979797;
  color: #fff;
}

span.evnone {
   opacity : 0.2
}
.normal span.evsmall, .normal span.evbig, .normal span.evnone {

  font-size: 12px;
  border-radius: 4px;
  padding: 2px 5px;

}