<style>
#printMe:hover {
    background-color: red;
}
#printMe {
    color: #fff;
    background: black url(../images/print.png) no-repeat 8px center;
    border: none;
    padding: 15px 25px 15px 50px;
    float: right;
    background-size: 35px;
    cursor: pointer;

}
#backMe  {
  color: #000;
    background: #c0c0c0  ;
    border: none;
    padding: 15px 25px 15px 25px;
    float: right;
    background-size: 35px;
    cursor: pointer;
    line-height: 24px;
}
#servis {
  position: fixed;
    top: 1em;
    right: 1em;
}
 .pro {
 
 }
 td{
   position: relative;
 }

 .table td, .table th {
    padding: .55rem;
    vertical-align: middle;
 
}
.table-bordered td, .table-bordered th {
     border: 0px solid #bec2c5;  
    border-collapse: collapse;
    vertical-align: top;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #a0a0a0;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px;
    vertical-align: top;
}
.evTXT p {
  margin: 0;
  padding: 0;
}
.tableOUT_filter, #tableOUT2_filter {
  display: none;
}
body{
  -webkit-print-color-adjust:exact;
}
.tableOUT th , #tableOUT2 th {
    background-color: #8d8d8d!important;
    color: #fff!important;
 
}
#toplogo  {
  width: 150px;
  margin-bottom: 2em;
}
.bpslogo {
  width: 120px;
  float: left;
  margin-right: 20px;
}
table.dataTable thead   {
 
}
h4.bps {
  color:#ce0a4e!important;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #ce0a4e;

}
.bpsTXT {
  padding-bottom: 0.7em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #ce0a4e;
  min-height: 120px;
}
 
.firstTXT , #tableOUT2  {page-break-after: always;}  
.evTXT, #tableOUT2, .table, .table-responsive {page-break-inside: avoid;}
table img { display: none;}
#tableOUT2 { margin-top: 2em; }
#logo, #sidebar, #login,  footer , .cd-top{ display: none; }
</style>


<style media="print">
#printMe, #backMe , #servis{ display: none; }